<div id="walpaper" class="flex items-center justify-center h-screen">
  <div class="container w-fit h-fit">
    <!-- Display input -->
    <div class="display-input" type="text">{{ input }}</div>
    <!-- Display result -->
    <div class="flex justify-between">
      <div class="display-result">=</div>
      <div class="text-9xl display-result" type="text">{{ result }}</div>
    </div>
    <div class="flex flex-row gap-6 container-buttons">
      <div class="flex flex-col gap-6 buttons">
        <div class="flex gap-6 w-fit">
          <app-button [value]="'1'" (click)="pressNum('1')"></app-button>
          <app-button [value]="'2'" (click)="pressNum('2')"></app-button>
          <app-button [value]="'3'" (click)="pressNum('3')"></app-button>
        </div>
        <div class="flex gap-6 w-fit">
          <app-button [value]="'4'" (click)="pressNum('4')"></app-button>
          <app-button [value]="'5'" (click)="pressNum('5')"></app-button>
          <app-button [value]="'6'" (click)="pressNum('6')"></app-button>
        </div>
        <div class="flex gap-6 w-fit">
          <app-button [value]="'7'" (click)="pressNum('7')"></app-button>
          <app-button [value]="'8'" (click)="pressNum('8')"></app-button>
          <app-button [value]="'9'" (click)="pressNum('9')"></app-button>
        </div>
        <div class="flex gap-6 w-fit">
          <app-button [value]="'0'" (click)="pressNum('0')"></app-button>
          <app-button [value]="'.'" (click)="pressNum('.')"></app-button>
          <app-button [value]="'='" (click)="getAnswer()"></app-button>
        </div>
      </div>
      <div class="flex flex-col gap-6 rounded-full bg-secondary">
        <app-button [value]="'+'" (click)="pressOperator('+')"></app-button>
        <app-button [value]="'-'" (click)="pressOperator('-')"></app-button>
        <app-button [value]="'x'" (click)="pressOperator('*')"></app-button>
        <app-button [value]="'/'" (click)="pressOperator('/')"></app-button>
      </div>
      <app-button [value]="'C'" (click)="allClear()"></app-button>
    </div>
  </div>

  <router-outlet />
</div>
